{% if ansible_facts['hostname'] == 'homelab01' %}
K3S_ARGS=server --disable traefik --disable local-storage
{% else %}
K3S_ARGS=agent
K3S_URL=https://homelab01.lan:6443
{% endif %}

K3S_TOKEN={{ k3s_token }}
